<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>step-3</title>
</head>

<body>
    <div id="app">
        <div class="newTask">
            <input type="text" v-model="newTodo" @keypress.enter="addTodo">
        </div>
        <ol class="todos">
            <li v-for="todo in todoList">
                <label for=todo.title>{{ todo.title }}</label>
                <input type="checkbox" id="todo.title" value=todo.title v-model="todo.done">
                <span v-if="todo.done">already Done</span>
                <span v-else>Not yet</span>
                <button @click="removeTodo(todo)">X</button>

            </li>
        </ol>
    </div>
    <script src="dist/bundle.js"></script>
</body>

</html>